# Solar Irradiance: prediction project

The goal for this project is predict solar irradiance using a several regression algrotihms.

## Background

Irradiance is the amount of light energy from one thing hitting a square meter of another each second. Photons that carry this energy have wavelengths from energetic X-rays and gamma rays to visible light to the infrared and radio. It can be measured for any glowing object, including stars, the Moon, and the overly bright high beams of an oncoming car. Human beings radiate primarily infrared light; an infrared image of a human shows a very active heart and mind!

The solar irradiance is the output of light energy from the entire disk of the Sun, measured at the Earth. It is looking at the Sun as we would a star rather than as a image.

## Dataset

Taken from Space Apps 2017's "You are my Sunshine" challenge, the dataset contains meteorological data from the HI-SEAS Habitat in Hawaii. In particular the dataset includes observations of:

* Solar Irradiance (W/m2)
* Temperature (°F)
* Barometric Pressure (Hg)
* Humidity (%)
* Wind Direction (°)
* Wind Speed (mph)
* Sun Rise/Set Time

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

irra = pd.read_csv("SolarPrediction.csv")

In [5]:
irra.head()

,UNIXTime,Data,Time,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
0,1475229326,9/29/2016 12:00:00 AM,23:55:26,1.21,48,30.46,59,177.39,5.62,06:13:00,18:13:00
1,1475229023,9/29/2016 12:00:00 AM,23:50:23,1.21,48,30.46,58,176.78,3.37,06:13:00,18:13:00
2,1475228726,9/29/2016 12:00:00 AM,23:45:26,1.23,48,30.46,57,158.75,3.37,06:13:00,18:13:00
3,1475228421,9/29/2016 12:00:00 AM,23:40:21,1.21,48,30.46,60,137.71,3.37,06:13:00,18:13:00
4,1475228124,9/29/2016 12:00:00 AM,23:35:24,1.17,48,30.46,62,104.95,5.62,06:13:00,18:13:00